main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header-links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header-links-list-item {
  list-style: circle;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-link {
  font-size: 18px;
  white-space: nowrap;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
  margin-right: 125px;
}

.header-logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header-address {
  justify-self: end;
  font-style: inherit;
}

.address-item {
  display: block;
  font-size: 18px;
  line-height: 135%;
  text-underline-position: under;
}

.address-address-text {
  font-size: 18px;
  line-height: 135%;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text-center {
  line-height: 1;
  text-align: center;
  letter-spacing: 30px;
}

.aligned-text-right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
  padding-left: 30px;
}

.remove-letter-spacing {
  letter-spacing: normal;
}

.cover-description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover-description-text {
  color: #fff;
  font-size: 22px;
  line-height: 125%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px white solid;
  padding: 14px 32px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 0 50px;
}

.lots-heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.lost-card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 20px;
  line-height: 120%;
}

.lots-look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about-column {
  justify-self: center;
}

.about-column-text {
  grid-column: 2/4;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-text p {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer-social-icon {
  width: auto;
  height: 48px;
}

.footer-menu-list {
  text-align: center;
  list-style: none;
}

.footer-menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
